---

- name: Instala el conjunto de dependencias necesarias para los Analyzers y Responders
  become: yes
  become_user: root
  apt: 
   pkg:
     - python-pip
     - python2.7-dev
     - python3-pip
     - python3-dev
     - ssdeep
     - libfuzzy-dev
     - libfuzzy2
     - libimage-exiftool-perl
     - libmagic1
     - build-essential
     - git
     - libssl-dev
   update_cache: yes

- name: Instala setuptools con pip
  become: yes
  become_user: root
  pip:
    name: setuptools

- name: Instala setuptools con pip3
  become: yes
  become_user: root
  pip:
    name: setuptools
    executable: pip-3.3

- name: Clona el repositorio de analizadores de Cortex en el directorio /opt
  become: yes
  become_user: root
  git:
    repo: https://github.com/TheHive-Project/Cortex-Analyzers
    dest: /opt/
