---
- name: Copy my_analyzers to "{{path_my_own_analyzers}}"
  become: yes
  become_user: root
  copy:
    src: "{{ role_path }}/files/my_analyzers/" #folder from files folder in this role
    dest: "{{path_my_own_analyzers}}"


- name: Cambiar path analyzer en /etc/cortex/application.conf
  become: yes
  become_user: root
  replace:  
    path: /etc/cortex/application.conf
    after: 'analyzer {'
    regexp: '(^|\s)path =(\s+).*' #matchea si empieza con un espacio en blanco y path..
    replace: |
              path =  [
                  "{{path_default_analyzers_and_responders }}",
                  "{{path_my_own_analyzers }}"
              ]

- name: Cambiar la variable parallelism-min, parallelism-factor y parallelism-max en /etc/cortex/application.conf
  become: yes
  become_user: root
  replace:
    path: /etc/cortex/application.conf
    after: 'analyzer {'
    regexp: "{{ item.regexp}}" #matchea si empieza con un espacio en blanco y path..
    replace: "{{ item.replace }}"
  with_items:
    - {regexp: '(?<=parallelism-min =\s).*', replace: '{{parallelism_min_analyzers}}'}
    - {regexp: '(?<=parallelism-factor =\s).*', replace: '{{parallelism_factor_analyzers}}'}
    - {regexp: '(?<=parallelism-max =\s).*', replace: '{{parallelism_max_analyzers}}'}

- name: Habilita e inicializa el servicio de Cortex
  become: yes
  become_user: root
  systemd:
    name: cortex.service
    state: started
    enabled: yes

- name: Make sure a service cortex.service is running
  systemd:
    state: started
    name: cortex.service