---

- name: Cambiar path analyzer en /etc/cortex/application.conf
  become: yes
  become_user: root
  replace:
    path: /etc/cortex/application.conf
    after: 'analyzer {'
    regexp: '(^|\s)path =(\s+)[.*]' #matchea si empieza con un espacio en blanco y path..
    replace: |

             path =  [
                "{{path_default_analyzers }}",
                "{{path_my_own_analyzers }}"
             ]


- name: fork-join executor Analyzer
  become: yes
  become_user: root
  replace:
    path: /etc/cortex/application.conf
    before: 'parallelism-max =4'
    after: 'analyzer {'
    regexp: '(^|\s)fork-join-executor {'
    replace: |
             fork-join executor {
             parallelism-min = 2       # Min number of threads available for analyze
             parallelism-factor = 2.0  # Parallelism (threads) ... ceil(available processors * factor)
             parallelism-max = 4       # Max number of threads available for analyze
             }



- name: Agregar la configuracion del responder en /etc/cortex/application.conf
  become: yes
  become_user: root
  blockinfile:
    path: /etc/cortex/application.conf
    block: |
           ## RESPONDERS
           #
           responder {
           # Absolute path where you have pulled the Cortex-Analyzers repository.
            path =  [
                      "{{path_default_responders }}",
                      "{{path_my_own_responders }}"
              ]
           # Sane defaults. Do not change unless you know what you are doing.
           fork-join-executor {
           # Min number of threads available for analysis.
           parallelism-min = 2
           # Parallelism (threads) ... ceil(available processors * factor).
           parallelism-factor = 2.0
           # Max number of threads available for analysis.
           parallelism-max = 4
           }
           }
