---

- name: Copy my_responders to "{{path_my_own_responders}}"
  become: yes
  become_user: root
  copy:
    src: "{{ role_path }}/files/myresponders/" #folder from files folder in this role
    dest: "{{path_my_own_responders}}"

    
- name: Agregar la configuracion del responder en /etc/cortex/application.conf
  become: yes
  become_user: root
  blockinfile:
    marker: ""
    path: /etc/cortex/application.conf
    block: |
           ## RESPONDERS
           #
           responder {
            # Absolute path where you have pulled the Cortex-Analyzers repository.
               url =  [
                      "{{path_default_analyzers_and_responders }}/responders",
                      "{{path_my_own_responders }}"
               ]
               # Sane defaults. Do not change unless you know what you are doing.
               fork-join-executor {
               # Min number of threads available for analysis.
               parallelism-min = {{parallelism_min_responders}}
               # Parallelism (threads) ... ceil(available processors * factor).
               parallelism-factor = {{parallelism_factor_responders}}
               # Max number of threads available for analysis.
               parallelism-max = {{parallelism_max_responders}}
               }
           }

- name: Habilita e inicializa el servicio de Cortex
  become: yes
  become_user: root
  systemd:
    name: cortex.service
    state: restarted
    enabled: yes

- name: Make sure a service cortex.service is running
  systemd:
    state: started
    name: cortex.service